body{
	padding-top: 20px;
	background: gray;
	text-align: center;
}
.divone{
	border: black solid 2px;
	width: 40%;
	margin: auto;

}



button{
	margin-top: 20px;
	margin-bottom: 20px;
}

span{
	
	margin-bottom:20px; 
	width: 50%;
	height: 100px;
}